.overLay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.overLay.open {
  opacity: 1;
  pointer-events: auto;
}

.overLay.closed {
  opacity: 0;
  pointer-events: none;
}

.bottomSheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 390px;
  height: 400px;
  padding: 29px 18px 0 18px;
  background-color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.8s cubic-bezier(0, 0.57, 0.3, 0.86);
}

.bottomSheet.open {
  transform: translateY(0);
}

.bottomSheet.closed {
  transform: translateY(100%);
}

.calendarContainer {
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  margin-bottom: 36px;
  padding: 0 14px;
}

.monthYear {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-400);
}

.navigationButton {
  background: none;
  border: none;
  cursor: pointer;
}

.daysOfWeek {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-400);
  padding: 0 8px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding: 0 8px;
}

.dayCell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--gray-400);
  cursor: pointer;
  width: 100%;

  &.today {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: var(--black);
  }

  &.selectedDate {
    width: 32px;
    height: 32px;
    background-color: var(--main);
    border-radius: 100px;
    color: var(--white);
  }

  &.disabledDate {
    pointer-events: none;
    opacity: 0.5;
  }

  .todayMent {
    top: -13px;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 14.4px;
    text-align: center;
    color: var(--black);
  }
}
