.swiperContainer {
  padding: 0 20px;
  width: 100%;
  height: 189px;
  position: relative;
}

.iconItem {
  width: 57px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--icon);
  border-radius: 17px;
}

.iconImage {
  cursor: pointer;
}

.iconRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.iconRowSecond {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: start;
  padding-left: 10px;
}

.category {
  margin-top: 5px;
  color: var(--gray-700);
  font-size: 13px;
  line-height: 21.84px;
  text-align: center;
}

.leftArrow {
  position: absolute;
  top: calc(50% - 10px);
  right: -18px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
