.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}

.input {
  font-size: 14px;
  font-weight: 600;
  width: 340px;
  height: 38px;
  border: none;
  border-radius: 2px;
  margin-left: 25px;
  padding-left: 15px;
  background-color: var(--gray);
  color: var(--gray-777);
  ::placeholder {
    font-size: 14px;
    color: var(--gray-777);
  }
}

.searchIcon {
  position: absolute;
  top: 25%;
  right: 20px;
  cursor: pointer;
}

.searchButton {
  background-color: inherit;
}
