@import url('./reset.css');
@import url('./variable.css');

body {
  display: flex;
  justify-content: center;
  background-color: var(--gray-777);
  ::-webkit-scrollbar {
    width: 0;
  }
}

html,
body {
  margin: 0;
}

.root_container {
  max-width: 390px;
  background-color: var(--white);
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

button {
  border: none;
}
